<h2> New Product </h2>

<%= simple_form_for [:admin, @product] do |f| %>

  <div class="group">
    <%= f.input :title %>
  </div>

  <div class="group">
    <%= f.input :description %>
  </div>

<<<<<<< HEAD
      <div class="group">
        <%= f.input :price, :label => "商品价格" %>
      </div>
=======
  <div class="group">
    <%= f.input :quantity %>
  </div>
>>>>>>> 95a768122d256600fe5312f1c96c54b8ba1fe58d

  <div class="group">
    <%= f.input :price %>
  </div>

 <div class="group">
   <%= f.input :image, as: :file %>
 </div>

  <%= f.submit "Submit", data: { disable_with: "Submitting..." } %>

<% end %>
